{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/typescript",
    "prettier/@typescript-eslint"
  ],
  "overrides": [
    {
      "env": {
        "node": true
      },
      "files": ["jest.config.js"]
    },
    {
      "env": {
        "jest": true
      },
      "files": ["*.test.ts"]
    }
  ],
  "rules": {
    "eqeqeq": "error",
    "import/named": "off",
    "import/no-default-export": ["error"],
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/semi": ["error"]
  }
}
