{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/typescript",
    "prettier"
  ],
  "overrides": [
    {
      "env": {
        "node": true
      },
      "files": ["jest.config.js"]
    },
    {
      "env": {
        "jest": true
      },
      "files": ["*.test.ts"]
    }
  ],
  "rules": {
    "eqeqeq": "error",
    "import/named": "off",
    "import/no-default-export": ["error"],
    "import/prefer-default-export": "off",
    "@typescript-eslint/explicit-function-return-type": ["error"],
    "@typescript-eslint/explicit-module-boundary-types": ["error"],
    "@typescript-eslint/member-ordering": "error",
    "@typescript-eslint/method-signature-style": "error",
    "@typescript-eslint/sort-type-union-intersection-members": "error"
  }
}
